<h1 STYLE="text-align: center">FACILITY</h1>

<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Create Facility
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a  [routerLink]="['/facility/create-villa']" class="btn btn-secondary mr-2">Villa</a>
    <a  [routerLink]="['/facility/create-house']" class="btn btn-secondary mr-2">House</a>
    <a  [routerLink]="['/facility/create-room']" class="btn btn-secondary">Room</a>
  </div>
</div>
<br/>


<div class="row">
  <div *ngFor="let facility of facilitys" class="col-4 mb-3">
    <div class="card" style="width: 22rem;">
      <div class="badge badge-warning">{{facility.cost}}</div>
      <a [routerLink]="['/facility/detail',facility.id]" ><img [src]=" facility.img" alt="Card image cap" class="card-img-top"></a>
      <div class="card-body">
        <h5 class="card-title text-uppercase font-weight-bold">{{ facility.name }}</h5>

        <div class="d-flex justify-content-between">
          <div>
            <p class="card-text mb-0">Area <span>{{ facility.area }} m<sup>2</sup></span></p>
            <p class="card-text mb-0">For {{facility.maxPeople}} people</p>

          </div>
          <div class="dropout active">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
<!--                <button class="btn btn-outline-info" data-target="#detailModal"-->
<!--                        data-toggle="modal" type="button"-->
<!--                >-->
<!--                  <i class='bx bx-search-alt bx-sx'>edit</i>-->
<!--                </button>-->
                <button type="button" class="btn btn-primary" [routerLink]="['/facility/edit',facility.id]">Edit</button>
              </li>
<!--              <li class="nav-item">-->
<!--                <a [routerLink]="['/facility/update',facility.facilityType.id, facility.id]"-->
<!--                   class="btn btn-outline-warning">-->
<!--                  <i class='bx bx-cog bx-sx'></i>-->
<!--                </a>-->
<!--              </li>-->
              <li class="nav-item">

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="showMess(facility.id,facility.name)" >
                  DELETE
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color: red" >
        DO YOU WANT TO DELETE "{{nameToDelete}}?"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteFacility()">Delete</button>
      </div>
    </div>
  </div>
</div>
