<br/> <br/>
<div style="text-align: center">
  <h1 style="color: chocolate">MÁY TÍNH ĐƠN GIẢN</h1>
  <br/> <br/>
  num1:
  <input [(ngModel)]="num1">
  num2:
  <input [(ngModel)]="num2">
  <br/><br/><br/>
  <button type="button" class="btn btn-primary" (click)="tinhToan($event.target.value)" value="+">+</button> &nbsp;
  <button type="button" class="btn btn-primary" (click)="tinhToan($event.target.value)" value="-">-</button> &nbsp;
  <button type="button" class="btn btn-primary" (click)="tinhToan($event.target.value)" value="*">*</button> &nbsp;
  <button type="button" class="btn btn-primary" (click)="tinhToan($event.target.value)" value="/">/</button>
  <br/><br/><br/>
  <h5>RESULT: {{result}}</h5>
</div>
