<h1 style="text-align: center">Create Contract</h1>
<div class="container">
  <form  [formGroup]="contractForm" (ngSubmit)="submit()">


    <div class="form-group">
      <label  >Code</label>
      <input type="text"  formControlName="code" class="form-control" id="code"  placeholder="Enter Code">
      <small *ngIf="contractForm.controls.code.hasError('required') && contractForm.controls.code.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="contractForm.controls.code.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label >Customer</label>
      <select formControlName="customer" class="form-control">
        <option selected [value]="null" disabled>Chọn customer</option>
        <option [ngValue]="customer" *ngFor="let customer of customers">{{customer.name}}</option>
      </select>
      <small *ngIf="contractForm.controls.customer.hasError('required') && contractForm.controls.customer.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="contractForm.controls.customer.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>


    <div class="form-group">
      <label >Facility</label>
      <select formControlName="facility" class="form-control">
        <option selected [value]="null" disabled>Chọn facility</option>
        <option [ngValue]="facility" *ngFor="let facility of facilitys">{{facility.name}}</option>
      </select>
      <small *ngIf="contractForm.controls.facility.hasError('required') && contractForm.controls.facility.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="contractForm.controls.facility.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label  >Start Date</label>
      <input type="date"  formControlName="startDate" class="form-control" id="startDate"  placeholder="Enter Start Date">
      <small *ngIf="contractForm.controls.startDate.hasError('required') && contractForm.controls.startDate.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="contractForm.controls.startDate.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label  >End Date</label>
      <input type="date"  formControlName="endDate" class="form-control" id="endDate"  placeholder="Enter End Date">
      <small *ngIf="contractForm.controls.endDate.hasError('required') && contractForm.controls.endDate.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="contractForm.controls.endDate.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label  >Deposit</label>
      <input type="text"  formControlName="deposit" class="form-control" id="deposit"  placeholder="Enter Deposit">
      <small *ngIf="contractForm.controls.deposit.hasError('required') && contractForm.controls.deposit.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="contractForm.controls.deposit.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label  >Total</label>
      <input type="text"  formControlName="total" class="form-control" id="total"  placeholder="Enter Total">
      <small *ngIf="contractForm.controls.total.hasError('required') && contractForm.controls.total.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="contractForm.controls.total.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <button [disabled]="!contractForm.valid" type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
