<div class="container">
  <h1 style="text-align: center">Cập nhật thông tin vé xe</h1>

  <form [formGroup]="vexeForm" (ngSubmit)="updateVexe(id)">
    <div class="form-group">
      <label  >giaVe:</label>
      <input type="text"  formControlName="giaVe" class="form-control"   >
      <small *ngIf="vexeForm.controls.giaVe.hasError('required') && vexeForm.controls.giaVe.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="vexeForm.controls.giaVe.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label  >diemDi:</label>
      <input type="text"  formControlName="diemDi" class="form-control"   >
      <small *ngIf="vexeForm.controls.diemDi.hasError('required') && vexeForm.controls.diemDi.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="vexeForm.controls.diemDi.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label  >diemDen:</label>
      <input type="text"  formControlName="diemDi" class="form-control"   >
      <small *ngIf="vexeForm.controls.diemDen.hasError('required') && vexeForm.controls.diemDen.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="vexeForm.controls.diemDen.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label  >ngayDi:</label>
      <input type="text"  formControlName="diemDi" class="form-control"   >
      <small *ngIf="vexeForm.controls.ngayDi.hasError('required') && vexeForm.controls.ngayDi.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="vexeForm.controls.ngayDi.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label  >gioDi:</label>
      <input type="text"  formControlName="gioDi" class="form-control"   >
      <small *ngIf="vexeForm.controls.gioDi.hasError('required') && vexeForm.controls.gioDi.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="vexeForm.controls.gioDi.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group" formGroupName="nhaXe">
      <label >Danh sách nhà xe</label>
      <select class="form-control" formControlName="id">
        <option selected value="" disabled>Chọn nhà xe</option>
        <option  *ngFor="let nhaxe of nhaxes" value="{{nhaxe.id}}">{{nhaxe.tenNhaXe}}</option>
        <!--        <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>-->
      </select>
      <small *ngIf="vexeForm.controls.nhaXe.hasError('required') && vexeForm.controls.nhaXe.touched" style="color: red">
        * Cannot be left blank
      </small>
    </div>

    <div class="form-group">
      <label  >soLuong:</label>
      <input type="text"  formControlName="soLuong" class="form-control"   >
      <small *ngIf="vexeForm.controls.soLuong.hasError('required') && vexeForm.controls.soLuong.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="vexeForm.controls.soLuong.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>


    <button [disabled]="!vexeForm.valid" type="submit" class="btn btn-primary">Edit</button>
  </form>
</div>
