
<div class="container">
  <h1 style="text-align: center" > {{facility.name}} </h1>
  <img [src]=" facility.img" alt="Card image cap" class="card-img-top">
  <h5>Area: {{facility.area}}</h5>
  <h5>Cost: {{facility.cost}}</h5>
  <h5>Max People: {{facility.maxPeople}}</h5>
  <h5>Rent Type: {{facility.rentType}}</h5>
  <h5>Room Standard: {{facility.romStandard}}</h5>
  <h5>Other Amenities: {{facility.otherAamenities}}</h5>
  <h5>PoolArea: {{facility.poolArea}}</h5>
  <h5>Number Floors: {{facility.numberFloors}}</h5>
  <h5>Free Service Included: {{facility.freeServiceIncluded}}</h5>
</div>
