<h1 style="text-align: center">CUSTOMER LIST</h1>

<div>
  <div>
    <button type="button" class="btn btn-primary" [routerLink]="['/customer/create']">Create</button>
  </div>
  <br/>
  <table id="customers" style="border-collapse: collapse;">
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Birth Day</th>
      <th>Gender</th>
      <th>Id Card</th>
      <th>Number Phone</th>
      <th>Email</th>
      <th>Address</th>
      <th>Customer Type</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let customer of customers | paginate : { itemsPerPage: 2, currentPage: p }">
      <td>{{customer?.code}}</td>
      <td>{{customer?.name}}</td>
      <td>{{customer?.birthDay}}</td>
      <td>{{customer?.gender}}</td>
      <td>{{customer?.idCard}}</td>
      <td>{{customer?.numberPhone}}</td>
      <td>{{customer?.email}}</td>
      <td>{{customer?.address}}</td>
      <td>{{customer?.customerType}}</td>
      <td>
        <button type="button" class="btn btn-primary" [routerLink]="['/customer/edit',customer.id]">Edit</button>
        &nbsp;
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="showMess(customer.id,customer.name)" >
          DELETE
        </button>
      </td>
    </tr>
  </table>
</div>

<div style="justify-content: space-around;display: flex;">
  <pagination-controls (pageChange)="p = $event" class=" page-item"></pagination-controls>
</div>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        DO YOU WANT TO DELETE {{nameToDelete}}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteCustomer()">Delete</button>
      </div>
    </div>
  </div>
</div>
