<h1 style="text-align: center">Danh sách sản phẩm</h1>
<button type="button" class="btn btn-primary" routerLink="/product/create">Tạo mới sản phẩm</button>
<table id="customers" style="border-collapse: collapse;">
  <tr>
    <th>STT</th>
    <th>Tên</th>
    <th>Giá</th>
    <th>Mô tả</th>
    <th>Danh mục</th>
    <th colspan="2">Chức năng</th>
  </tr>
  <tr *ngFor="let product of products | paginate : { itemsPerPage: 2, currentPage: p } ; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>{{product.category.name}}</td>
    <td><a [routerLink]="['/product/edit',product.id]">Edit</a></td>
    <td>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="showMess(product.id,product.name)">
        DELETE
      </button>
    </td>
  </tr>
</table>


<div style="justify-content: space-around;display: flex;">
  <pagination-controls (pageChange)="p = $event" class=" page-item"></pagination-controls>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color: red">
        DO YOU WANT TO DELETE "{{nameToDelete}}" ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteProduct()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
