<h1 style="text-align: center">Create Villa</h1>
<div class="container">
  <form  [formGroup]="villaForm" (ngSubmit)="submit()">


    <div class="form-group">
      <label for="name" >Name</label>
      <input type="text"  formControlName="name" class="form-control" id="name">
      <small *ngIf="villaForm.controls.name.hasError('required') && villaForm.controls.name.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="villaForm.controls.name.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label for="area" >Area</label>
      <input type="text"  formControlName="area" class="form-control" id="area">
      <small *ngIf="villaForm.controls.area.hasError('required') && villaForm.controls.area.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="villaForm.controls.area.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label for="cost" >Cost</label>
      <input type="text"  formControlName="cost" class="form-control" id="cost">
      <small *ngIf="villaForm.controls.cost.hasError('required') && villaForm.controls.cost.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="villaForm.controls.cost.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label for="maxPeople" >Max People</label>
      <input type="text"  formControlName="maxPeople" class="form-control" id="maxPeople">
      <small *ngIf="villaForm.controls.maxPeople.hasError('required') && villaForm.controls.maxPeople.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="villaForm.controls.maxPeople.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

<!--    <div class="form-group">-->
<!--      <label for="rentType" >Rent Type</label>-->
<!--      <input type="text"  formControlName="rentType" class="form-control" id="rentType"  >-->
<!--    </div>-->
    <div class="form-group">
      <label >Rent Type</label>
      <select class="form-control" id="rentType" formControlName="rentType">
        <option value="Year">Year</option>
        <option value="Month">Month</option>
        <option value="Day">Day</option>
        <option value="Hour">Hour</option>
      </select>
      <small *ngIf="villaForm.controls.rentType.hasError('required') && villaForm.controls.rentType.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="villaForm.controls.rentType.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>


<!--    <div class="form-group">-->
<!--      <label for="romStandard" >Room Standard</label>-->
<!--      <input type="text"  formControlName="romStandard" class="form-control" id="romStandard"  >-->
<!--    </div>-->
    <div class="form-group">
      <label >Room Standard</label>
      <select class="form-control" id="romStandard" formControlName="romStandard">
        <option value="Vip">Vip</option>
        <option value="Normal">Normal</option>
      </select>
      <small *ngIf="villaForm.controls.romStandard.hasError('required') && villaForm.controls.romStandard.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="villaForm.controls.romStandard.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>


    <div class="form-group">
      <label for="otherAamenities" >Other Amenities</label>
      <input type="text"  formControlName="otherAamenities" class="form-control" id="otherAamenities"  >
      <small *ngIf="villaForm.controls.otherAamenities.hasError('required') && villaForm.controls.otherAamenities.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="villaForm.controls.otherAamenities.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label for="poolArea" >Pool Area</label>
      <input type="text"  formControlName="poolArea" class="form-control" id="poolArea"  >
      <small *ngIf="villaForm.controls.poolArea.hasError('required') && villaForm.controls.poolArea.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="villaForm.controls.poolArea.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <div class="form-group">
      <label for="numberFloors" >NumberFloors</label>
      <input type="text"  formControlName="numberFloors" class="form-control" id="numberFloors"  >
      <small *ngIf="villaForm.controls.numberFloors.hasError('required') && villaForm.controls.numberFloors.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="villaForm.controls.numberFloors.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>



    <div class="form-group">
      <label for="img" >img</label>
      <input type="text"  formControlName="img" class="form-control" id="img"  >
      <small *ngIf="villaForm.controls.img.hasError('required') && villaForm.controls.img.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="villaForm.controls.img.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
