<h1 style="text-align: center">Danh sách nhà xe</h1>
<div>
  <button type="button" class="btn btn-primary" routerLink="/nhaxe/create">Thêm nha xe</button> &nbsp;

</div>

<table id="customers" style="border-collapse: collapse;">
  <tr>
    <th>STT</th>
    <th>Tên nhà xe</th>
    <th>Chức năng</th>

  </tr>
  <tr *ngFor="let nhaxe of nhaxes ; index as i">
    <td>{{i + 1}}</td>
    <td>{{nhaxe.tenNhaXe}}</td>


    <td>
      <button type="button" class="btn btn-primary" [routerLink]="['/nhaxe/edit',nhaxe.id]">Edit</button>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              (click)="showMess(nhaxe.id)">
        DELETE
      </button>
    </td>
  </tr>
</table>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="color: red">
        DO YOU WANT TO DELETE ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="deleteNhaxe()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
