<div class="container">
  <h1 style="text-align: center">Cập nhật thông tin nha xe</h1>
  <form [formGroup]="nhaxeForm" (ngSubmit)="updateNhaxe(id)">
    <div class="form-group">
      <label  >Tên nha xe:</label>
      <input type="text"  formControlName="tenNhaXe" class="form-control"   >
      <small *ngIf="nhaxeForm.controls.tenNhaXe.hasError('required') && nhaxeForm.controls.tenNhaXe.touched" style="color: red">
        * Cannot be left blank
      </small>
      <small *ngIf="nhaxeForm.controls.tenNhaXe.hasError('pattern')" style="color: red">
        * Malformed
      </small>
    </div>


    <button [disabled]="!nhaxeForm.valid" type="submit" class="btn btn-primary">Edit</button>
  </form>
</div>
